@charset "UTF-8";

@media screen and (min-width: 600px)and (max-width: 700px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 80vw;
    }

    #login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 701px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 90vw;
    }

    #login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }

    div#formulario > h1 {
        font-size: 2em;
    }
}