@charset "UTF-8";
@font-face {
    font-family: 'teste';
    src: url('idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

    /*
        Tipos de format
        - opentype (otf)
        - truetype (ttf)
        - embedder-opentype
        - truetype-aat (apple advanced typography)
        - svg 
    */
}

body {
    background-color: aquamarine;
}

header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    color: white;
    margin: 0px;
    padding: 0px;
}

header > nav {
    text-align: left;
    margin: 10px;
}

nav > a {
    text-decoration: none;
    margin: 5px;
    color: white;
    font-weight: bold;
}

section {
    text-align: left;
    background-color: white;
    height: 700px;
    width: 700px;
    margin: auto;
}

section > h1 {
    font-family: 'teste', Times, serif;
    text-align: left;
    margin: 20px;
    padding-top: 10px;
}

section > p {
    text-align: justify;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

section h2 {
    margin: 20px;
    font-family: 'teste', Times, serif;
    background-color: lightgreen;
}